.adminContent {
    display: flex;
    justify-content: center;
}

.details {
    margin-top: 3em;
    width: 18.75em;
}

.inputText input {
    height: 3em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.registrationButton {
    all: unset;
    text-decoration: none;
    margin-top: 1em;
    color: rgb(63, 56, 56);
    border: 2px solid white;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: border-color 0.25s;
  }
.registrationButtons .registrationButton:hover {
    background: linear-gradient(-45deg,  #c26d3b, #af2e60, #1b6da3, #08e069);
	background-size: 200% 200%;
	animation: gradient 1s ease infinite;
     color: white;
    /*border: 2px dashed white; */
  }
   .registrationButton :focus,
  .registrationButton :focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }