/* html, body {
    height: 100%;
    margin: 0;
} */

body.ProductsTable {
    display: flex;
    flex-direction: column;
}

.ProductsTable .contentTablePage {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ProductsTable .contentTablePage > * {
    width: 100%;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttonOptions {
    margin-top: 1em;
    border-radius: 8px;
    border: 1px solid #646cff;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #f9f9f9;
    background-color: #1a1a1a;
}

.h2Style {
    color: rgba(255, 255, 255, 0.85);
}

.quantityStyle {
    width: 4em;
    text-align: center;
  }

  .inventoryStyle {
    width: 4em;
    text-align: center;
  }