.registrationContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headerContainer {
    margin-bottom: 3em;
}

.logo {
    float: left;
    width: 8em;
    height: auto;
    filter: brightness(0) invert(1);
}

.title {
    float: left;
    text-align: left;
    font-size: 2.5em;
}

.registrationStyle {
    width: 18.75em;
}

.inputText input {
    height: 3em;
}

.registrationButton {
    margin-top: 1em;
    border-radius: 8px;
    border: 1px solid #646cff;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #f9f9f9;
    background-color: #1a1a1a;
}

.form_group {
    padding-top: 0.8em;
    text-align: left;
}

.loginButton {
    padding-top: 1.2em;
}

.loginButton :link {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.4em 0.7em;
    margin-left: 0.5em;
    font-weight: 500;
}

.loginButton :visited {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.4em 0.7em;
    margin-left: 0.5em;
    font-weight: 500;
}